In [15]:
import pandas as pd
import numpy as np
import yfinance as yf

In [27]:
# Gather list of S&P 500 tickers from wikipedia
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
tables = pd.read_html(url)

# Extract ticker symbols from wiki table
sp500_table = tables[0]
sp500_symbols = sp500_table['Symbol']
tickers = sp500_symbols.tolist()[:10]

In [40]:
import time
import datetime as dt

START = dt.date(2024, 1, 1)
END = dt.date(2025, 7, 7)

frames = []
chunksize = 3
for i in range(0, len(tickers), chunksize):
    part = tickers[i:i+chunksize]
    print(f"fetching {len(part)} tickers…")

    df = yf.download(tickers=part, start=START, end=END, auto_adjust=False, threads=True)
    frames.append(df)
    time.sleep(0.4)

wide = pd.concat(frames, axis=1)
tidy = wide.stack(level=1, future_stack=True).rename_axis(['Date', 'Ticker']).reset_index()

[**********************67%*******                ]  2 of 3 completed

fetching 3 tickers…

[*********************100%***********************]  3 of 3 completed
[*********************100%***********************]  3 of 3 completed

fetching 3 tickers…

[*********************100%***********************]  3 of 3 completed

fetching 3 tickers…

[*********************100%***********************]  1 of 1 completed

fetching 1 tickers…

In [50]:

tickers = [
    "GLD", "SLV", "CPER",             # Gold, Silver, Copper,
    "UNG", "UGA", "BNO",       # energy feed-stocks - Natural gas, Gasoline, US Brent Oil
    "ALUM", "PPLT", "PALL",           # metals - Aluminium, Platinum, Palladium
    "CORN", "WEAT", "SOYB", "CANE",   # grains & sugar - Corn, Wheat, Soybeans, Sugar
    "COTN.L", "COFF.L"                       # cotton, coffee
]

raw = yf.download(tickers,
                  start="2024-01-01",
                  end="2025-07-12",
                  interval="1d", auto_adjust=False)

[*********************100%***********************]  15 of 15 completed

In [58]:
frames = []
frames.append(raw)

pd.concat(frames, axis=1)

Price       Adj Close                                                  \
Ticker           ALUM        BNO   CANE     COFF.L       CORN  COTN.L
Date
2024-01-02  30.514900  27.000000  12.49  29.780001  21.330000  2.9710
2024-01-03  30.514900  27.920000  12.46  29.190001  21.420000  3.0035
2024-01-04  29.875000  27.610001  12.58  29.065001  21.450001  2.9590
2024-01-05  30.344999  28.049999  12.58  28.605000  21.230000  2.9525
2024-01-08  29.105000  27.190001  12.86  28.270000  20.910000  2.9440
...               ...        ...    ...        ...        ...     ...
2025-07-07        NaN  30.520000  10.94  50.215000  17.540001  2.3415
2025-07-08        NaN  30.750000  10.89  50.660000  17.340000  2.3285
2025-07-09        NaN  30.719999  11.07  51.195000  17.389999  2.3495
2025-07-10        NaN  30.200001  10.91  52.105000  17.389999  2.3420
2025-07-11        NaN  30.950001  11.04  51.634998  17.270000  2.3355

Price                                                      ...   Volume  \
Ticker           CPER         GLD        PALL        PPLT  ...   COTN.L
Date                                                       ...
2024-01-02  23.950001  190.720001   99.790001   90.419998  ...    250.0
2024-01-03  23.959999  189.130005   98.820000   89.629997  ...    224.0
2024-01-04  23.900000  189.320007   95.669998   88.129997  ...      0.0
2024-01-05  23.650000  189.350006   94.820000   88.750000  ...   2542.0
2024-01-08  23.750000  187.869995   92.110001   87.260002  ...    398.0
...               ...         ...         ...         ...  ...      ...
2025-07-07  31.150000  307.369995  101.459999  125.160004  ...      0.0
2025-07-08  33.770000  304.160004  101.199997  124.739998  ...  75978.0
2025-07-09  34.299999  305.519989  101.250000  122.860001  ...   2120.0
2025-07-10  34.799999  306.200012  104.900002  124.080002  ...      0.0
2025-07-11  34.509998  309.140015  111.050003  128.199997  ...  18998.0

Price                                                                       \
Ticker           CPER         GLD      PALL      PPLT         SLV     SOYB
Date
2024-01-02    30700.0   6025600.0   37800.0  111500.0  13277800.0  17500.0
2024-01-03   261000.0   8661600.0   32900.0   56700.0  26373800.0  18900.0
2024-01-04   177700.0   4416700.0   47300.0  114900.0  11972000.0  29900.0
2024-01-05    66000.0   7481200.0   31000.0  126000.0  21396300.0  15000.0
2024-01-08    69200.0   6215000.0   62400.0  103700.0   9527900.0  21100.0
...               ...         ...       ...       ...         ...      ...
2025-07-07   258100.0   7351600.0  291100.0  310000.0  12133000.0  19200.0
2025-07-08  1027900.0  11840500.0  203000.0  508000.0  17473100.0  11800.0
2025-07-09   601600.0  10644100.0  255300.0  312400.0  17764100.0  37200.0
2025-07-10   338600.0   7053700.0  430200.0  343900.0  44301500.0  77500.0
2025-07-11   323700.0   9183200.0  640700.0  571300.0  57880100.0  23100.0

Price
Ticker          UGA         UNG      WEAT
Date
2024-01-02  41400.0   4600875.0  676800.0
2024-01-03  21900.0   6721225.0  530100.0
2024-01-04  48100.0  11130100.0  718600.0
2024-01-05  17900.0   8500300.0  262800.0
2024-01-08  32200.0   9126150.0  499400.0
...             ...         ...       ...
2025-07-07  18100.0   5914200.0  763300.0
2025-07-08  10000.0   5132000.0  411800.0
2025-07-09   9200.0  10515100.0  554000.0
2025-07-10  12600.0   6976600.0  654000.0
2025-07-11  11200.0   4630900.0  597400.0

[393 rows x 90 columns]

In [ ]:
test = [1,2,3,5]
for i in range(0, len(test), 4):
    print(test[i:i+4])

[1, 2, 3, 5]

[2, 3, 5]